#!/bin/bash

# See 'Configuring Synchrony for Data Center'
#   https://confluence.atlassian.com/doc/configuring-synchrony-for-data-center-858772125.html
# See 'Troubleshoot Synchrony'
#   https://confluence.atlassian.com/doc/troubleshooting-collaborative-editing-858772087.html

# START IN BACKGROUND
java \
-Xss2048k \
-Xmx2g \
-classpath {{ PATH_TO_SYNCHRONY_STANDALONE_JAR }}:{{ JDBC_DRIVER_PATH }} \
-Dsynchrony.cluster.impl=hazelcast-btf \
-Dsynchrony.port={{ SYNCHRONY_PORT }} \
-Dcluster.listen.port={{ CLUSTER_LISTEN_PORT }} \
-Dsynchrony.cluster.base.port={{ CLUSTER_BASE_PORT }} \
-Dcluster.join.type=multicast \
-Dcluster.join.multicast.group={{ MULTICAST_GROUP }} \
-Dcluster.join.multicast.port=54327 \
-Dcluster.join.multicast.ttl=32 \
-Dsynchrony.context.path=/synchrony \
-Dsynchrony.cluster.bind={{ SERVER_IP }} \
-Dsynchrony.bind={{ SERVER_IP }} \
-Dcluster.interfaces={{ SERVER_IP }} \
-Dsynchrony.service.url="{{ SYNCHRONY_URL }}" \
-Djwt.private.key="{{ JWT_PRIVATE_KEY }}" \
-Djwt.public.key="{{ JWT_PUBLIC_KEY }}" \
-Dsynchrony.database.url="jdbc:postgresql://{{ DATABASE_HOST }}:5432/{{ DATABASE_DB }}" \
-Dsynchrony.database.username={{ DATABASE_USER }} \
-Dsynchrony.database.password={{ DATABASE_PASS }} \
-Dip.whitelist=127.0.0.1,localhost \
synchrony.core \
sql &
