<?xml version="1.0" encoding="UTF-8"?>

<confluence-configuration>
    <setupStep>complete</setupStep>
    <setupType>cluster</setupType>
    <buildNumber>7109</buildNumber>
    <properties>
        <property name="atlassian.license.message">{{ CONFLUENCE_DATA_CENTER_LICENSE }}</property>
        <property name="attachments.dir">${confluenceHome}/attachments</property>
        <property name="confluence.cluster">true</property>
        <property name="confluence.cluster.address">{{ MULTICAST_CLUSTER_ADDRESS }}</property>
        <property name="confluence.cluster.home">/confluence-shared-home</property>
        <property name="confluence.cluster.interface">eth0</property>
        <property name="confluence.cluster.join.type">multicast</property>
        <property name="confluence.cluster.name">confluence-cluster</property>
        <property name="confluence.cluster.ttl">1</property>
        <property name="confluence.setup.server.id">BVZ5-JKZL-XUV6-Q021</property>
        <property name="confluence.webapp.context.path"></property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.max_size">60</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">20</property>
        <property name="hibernate.c3p0.timeout">30</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.isolation">2</property>
        <property name="hibernate.connection.url">jdbc:postgresql://{{ DATABASE_HOST }}:5432/{{ DATABASE_DB }}</property>
        <property name="hibernate.connection.username">{{ DATABASE_USER }}</property>
        <property name="hibernate.connection.password">{{ DATABASE_PASS }}</property>
        <property name="hibernate.database.lower_non_ascii_supported">true</property>
        <property name="hibernate.dialect">com.atlassian.confluence.impl.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.setup">true</property>
        <property name="jwt.private.key">{{ JWT_PRIVATE_KEY }}</property>
        <property name="jwt.public.key">{{ JWT_PUBLIC_KEY }}</property>
        <property name="lucene.index.dir">${localHome}/index</property>
        <property name="synchrony.btf">false</property>
        <property name="synchrony.encryption.disabled">true</property>
        <property name="synchrony.proxy.enabled">true</property>
        <property name="webwork.multipart.saveDir">${localHome}/temp</property>
    </properties>
</confluence-configuration>
