{% set amountNodes = NODES | int %}
{% set loadBalancerPort = LB_PORT | int %}
{% set nameSchema = NODES_NAME_SCHEMA | replace("___NUM___","")  %}

Listen 0.0.0.0:{{loadBalancerPort}}
<VirtualHost 0.0.0.0:{{loadBalancerPort}}>
    ServerName confluencecluster

    # START - ErrorDocuments
    DocumentRoot /work-private/document-root/
    ProxyPass /errors/error502.html !
    ProxyPass /errors/error503.html !
    ErrorDocument 502 /errors/error502.html
    ErrorDocument 503 /errors/error503.html
    <Directory /work-private/document-root/>
        Require all granted
    </Directory>
    # END - ErrorDocuments

    <Location /balancer-manager>
        SetHandler balancer-manager
        Require all granted
    </Location>

    # Main Synchrony proxy rule
    ProxyPass /synchrony  balancer://synchrony-http/synchron

    # Synchrony HTTP balancer declaration
    <Proxy balancer://synchrony-http>
        {% for n in range(1, (amountNodes+1)) %}
            BalancerMember http://{{nameSchema}}{{ n }}:8091 route=synnode{{ n }}
        {% endfor %}

        Require all granted
    </Proxy>
    # Synchrony WebSocket balancer declaration
    <Proxy balancer://synchrony-ws>
        {% for n in range(1, (amountNodes+1)) %}
            BalancerMember ws://{{nameSchema}}{{ n }}:8091 route=synnode{{ n }}
        {% endfor %}

        Require all granted
    </Proxy>
    
    # WebSocket rewrite condition and rules
    RewriteEngine     On
    RewriteCond       %{REQUEST_URI}       ^/synchrony/(.*)/bayeux-sync1   [NC]
    RewriteRule       /(.*)                balancer://synchrony-ws/$1      [P,L]



    # Main Confluence balancer
    Header add Set-Cookie "ROUTEID=.%{BALANCER_WORKER_ROUTE}e; path=/" env=BALANCER_ROUTE_CHANGED
    <Proxy "balancer://confluence-cluster">
        {% for n in range(1, (amountNodes+1)) %}
            BalancerMember http://{{nameSchema}}{{ n }}:8090 route={{ n }}
        {% endfor %}
    </Proxy>

    # Main Confluence proxy rules
    ProxyPass        "/" "balancer://confluence-cluster/"
    ProxyPassReverse "/" "balancer://confluence-cluster/"

    # custom stuff by codeclou
    ProxyPreserveHost on
    ProxyRequests off
    ProxyTimeout 9600
</VirtualHost>
